:root {
    --bg-color: white;
    --text-color: black;
    --gray: #333;
}

.theme-nuit {
    --bg-color: black;
    --text-color: white;
    --gray: rgb(226, 225, 225);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* max-width: 1440px; */
    margin: auto;
}

.on-top {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #18534F;
    z-index: 1001;
    width: 100%;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

canvas {
    width: 100%;
    height: 35px;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 12rem;
    align-items: center;
    margin: 40px 50px 20px 50px;
}

.txt-left {
    font-weight: bold;
    color: #18534F;
    font-size: 18px;
}

.menu > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    white-space: nowrap;
}

.menu > ul > li > a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    text-align: center;
    position: relative;
    padding-bottom: 3px;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #08C5D1;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }
    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.menu > ul > li > .active {
    color: #18534F;
    font-weight: bold;
}

.has-submenu i {
  transition: transform 0.3s ease;
}

.has-submenu:hover i {
  transform: rotate(180deg);
}

.submenu {
    display: none;
    position: absolute;
    top: 70%;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.submenu li a {
    display: block;
    padding: 10px 10px;
    color: rgb(114, 114, 114);
    text-decoration: none;
    border-radius: 3px;
    text-transform: none;
}

.submenu li a:hover {
    background-color: whitesmoke;
    font-weight: bold;
    color: #18534F;
}

.menu li:hover .submenu {
    display: block;
}

.fa-moon, .fa-sun {
    font-size: 15px;
    color: rgb(114, 114, 114);
    &:hover {
        color: #18534F;
    }
}

.contact-button a {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    color: #FEEAA1;
    text-decoration: none;
    font-size: 14px;
    background-color: #18534F;
    border-radius: 20px;
    padding: 7px 30px;
    &:hover {
        box-shadow: 0 0 7px #18534F;
        transition: box-shadow 0.3s ease-in-out;
    }
}

.user-connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #18534F;
    font-weight: bold;
    min-width: 150px;
    font-size: 16px;
    &:hover .disconnect-icon {
        max-width: 200px;
        opacity: 1;
    }
}

.user-connect span {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-connect i {
    font-size: 18px;
}

.user-connect .fa-circle-user:hover {
    color: rgb(102, 102, 253);
}

.user-connect .disconnect-icon {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-width 0.5s ease, opacity 0.5s ease;
    &:hover {
        color: red;
        cursor: pointer;
    }
}

section {
    padding: 50px 30px;
}

/* #HOME */

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18%;
    margin: 100px auto 20px auto;
    max-height: 600px;
    max-width: 1250px;
}

.left-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
}

.last-name1 {
    color: #08C5D1;
}

.xl-txt {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}
.small-txt {
    margin-bottom: 50px;
}

.project-button {
    margin-top: 20px;
    width: 100%;
}

.project-button a {
    background-color: #226D68;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 7px 74px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 5px #18534F;
    }
}

.project-button2 {
    margin-top: 20px;
    width: 100%;
}

.project-button2 a {
    background-color: white;
    color: #18534F;
    font-size: 12px;
    border-radius: 3px;
    border: solid 1px #18534F;
    text-decoration: none;
    padding: 7px 70px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 5px #18534F;
    }
}

.right-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-home img {
    max-width: 450px;
    height: auto;
}

/* #DASHBOARD */

section h3 {
    text-align: center;
    color: rgb(114, 114, 114);
    font-weight: 200;
}

.skills-section {
    background-color: rgba(204, 237, 250, 0.199);
}

.container-dashboard {
    max-width: 1440px;
    margin: auto;
}

.top-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 14px;
    color: var(--gray);
}

.top-dashboard1 span, .top-dashboard2 span {
    font-weight: bold;
}

.container-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 40px;
    margin: 0 50px;
    padding: 0 0 40px 0;
}
.skills-cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.skills-case11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00c1ea;
    padding: 20px 40px;
    border-radius: 3px 3px 0 0;
}
.skills-case11 p i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.498);
}
.skills-case-content1 {
    background-color: #00add2;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0 0 3px 3px;
    &:hover {
        background-color: #00a2c6;
    }
}

.skills-case22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00a663;
    padding: 20px 40px;
    border-radius: 3px 3px 0 0;
}
.skills-case22 p i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.498);
}
.skills-case-content2 {
    background-color: #009559;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0 0 3px 3px;
    &:hover {
        background-color: #008852;
    }
}

.skills-case33 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f69a39;
    padding: 20px 40px;
    border-radius: 3px 3px 0 0;
}
.skills-case33 p i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.498);
}
.skills-case-content3 {
    background-color: #dd8a33;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0 0 3px 3px;
    &:hover {
        background-color: #d18431;
    }
}

.skills-case44 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e1493f;
    padding: 20px 40px;
    border-radius: 3px 3px 0 0;
}
.skills-case44 p i {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.498);
}

.skills-case-content4 {
    background-color: #ca4239;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0 0 3px 3px;
    &:hover {
        background-color: #bd3f36;
    }
}
 
.title-skill {
    font-size: 14px;
}

/* SECTION FICHES */

.container-case {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px auto;
    padding: 0 20px;
    max-width: 1440px;
}
.cases {
    display: flex;
    background-color: rgba(211, 211, 211, 0.354);
    color: var(--gray);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    transition: margin-top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 0 3px 5px #B8CBD0;
        margin-top: -10px;
        .view-button a {
            box-shadow: none;
        }
    }
}

.cases h5 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.desc-projet-def {
    margin-top: 20px;
}

.desc-def {
    text-align: justify;
    font-size: 15px;
}

.technologies {
    margin: 50px 0 20px 0;
    font-size: 14px;
    color: rgb(135, 135, 135);
}

.technologies p {
    margin: 0 0 5px 0;
}

.view-button a {
    background-color: #709CA7;
    color: white;
    padding: 5px 30px;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;
    box-shadow: 0 2px 7px #7A90A4;
    transition: box-shadow 0.3s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
        background-color: #7A90A4;
    }
}

/* LOCATION */

.geolocation-section {
    background-color: rgba(204, 237, 250, 0.199);
}

.position-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info {
    color: var(--gray);
    margin-bottom: 15px;
}
.coords {
    color: #22756f;
}

.map-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: auto;
    max-width: 1440px;
    border-radius: 8px;
}

#map {
    z-index: 1;
    width: 100%;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-localisation {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin: 80px;
}

.btn-localisation i {
  background-color: rgba(0, 0, 0, 0.7);
  color: #a8c7fa;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

/* #CONTACT */

.contact-section {
    background-color: #031731;
    color:rgba(255, 255, 255, 0.758);
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container h2, .contact-container p {
	display: flex;
	text-align: center;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    min-width: 40%;
}

.first-and-last-name-label {
    display: flex;
    align-items: space-between;
    gap: 20px;
    width: 100%;
}
.first-name-label, .last-name-label, .subject-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    font-size: 11px;
}
input {
    border-radius: 4px;
    border: yellowgreen 1.4px solid;
    height: 25px;
    padding: 10px;
}
textarea {
    width: 100%;
    min-height: 150px;
    min-width: 200px;
    border-radius: 6px;
    border: yellowgreen 1.4px solid;
    margin-top: 5px;
    padding: 10px;
}
::placeholder {
    color: rgb(208, 208, 208);
    font-size: 11px;
}
button {
    background-color: #716df286;
    color: white;
    border: white 1px solid;
    padding: 7px 30px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    &:hover {
        background-color: #716df25f;
        border: #D6955B 1px solid;
    }
}

.footer-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    width: 100%;
	padding: 20px 10%;
	background-color: var(--bg-color);
}
.footer-contents p{
	font-size: 14px;
	color: #999;
}
.footer-contents div{
	font-size: 11px;
	color: #999;
    text-transform: uppercase;
}
.sci {
    position: relative;
    display: flex;
    gap: 30px;
}
.sci li {
    list-style: none;
}
.sci li a {
    font-size: 1.8em;
    transition: 0.5s;
    color: #06668C;
    &:hover {
        color: #00bcd4;
        &::after {
            display: none;
        }
    }
}

.footer-contents p span {
	color: #ff5252;
	font-weight: bold;
}
